@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width:650px) {
  .card .bg-green ul {
      text-align: left;
  }
}

.avatar {
    box-shadow:  4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 200px;
}

.container {
    margin: auto;
    max-width: 750px;
    padding-top: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info p {
    color: #86898f;
}
.card {
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.bg-green{
    background-color: #90EE90;
}
.bg-yellow {
    background-color: #FAFAD2;
    padding-bottom: 10px;
}
.bg-red{
    background-color: #FFB6C1;
}

a {
    text-decoration: none;
    font-family: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #86898f;
}

a:visited {
    color: #90EE90;
}

.btn {
    padding: 15px 20px;
    border: none;
    background: #0f141e;
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;      
}

.btn:hover {
    opacity: 0.5;
    color: aqua;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}


.table {
    width: 100%;

}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3){
    color: #86898f;
}

.form h5 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}


.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;

}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
    /* display: inline-block; */
    /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

